services:
  - type: web
    name: opsmind-backend
    env: node
    buildCommand: npm install
    startCommand: node src/app.js
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
      - key: CORS_ORIGIN
        sync: false
    healthCheckPath: /api/health
